:root {
    --dark-blue: rgb(46, 105, 255);
    --dark-red: rgb(242, 58, 60);
    --green-color: rgb(24, 189, 91);
    --light-blue: rgb(241, 245, 255);
    --light-red: rgb(255, 237, 237);
    --main-text: rgb(44, 51, 69);
    --secondary-text: rgb(87, 100, 126);
    --table-color: rgb(195, 202, 216);
    --total-white: rgb(255, 255, 255);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--light-blue);
    color: var(--main-text);
    color: w;
    font-family: Inter, sans-serif;
}

main {
    background-color: var(--total-white);
    box-shadow: 0 0 2px;
    margin: 30px auto;
    max-width: 800px;
    width: 75%;
}

h1 {
    border-bottom: 1px solid var(--table-color);
    padding: 30px;
}

hr {
    border: 1px solid var(--table-color);
    margin: 15px auto 25px;
    width: 91%;
}

legend {
    font-size: 1.2rem;
    position: absolute;
    top: 15px;
}

input {
    border: 1px solid var(--table-color);
    border-radius: 3px;
    font-size: 1.1rem;
    height: 40px;
    padding: 3px 10px;
}

select {
    background-color: var(--total-white);
    border: 1px solid var(--table-color);
    border-radius: 3px;
    font-size: 1.1rem;
    height: 40px;
    padding: 3px 10px;
    width: 45%;
}

textarea {
    font-size: 1.1rem;
    padding: 3px 10px;
    resize: vertical;
    width: 100%;
}

fieldset {
    border: none;
    margin: 20px 15px 0;
    padding: 50px 30px 15px;
    position: relative;
}

fieldset span {
    color: var(--dark-red);
}

.modal {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.message {
    align-items: center;
    background-color: var(--total-white);
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 450px;
    justify-content: center;
    width: 650px;
}

.success-text {
    font-size: 2rem;
    font-weight: bold;
}

.message i {
    color: var(--green-color);
    font-size: 145px;
}

.input {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;

flex: 1
}

.input-group label {
    color: var(--secondary-text);
}

.checkbox-group {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 12px;
}

.checkbox-fieldset input {
    height: 15px;
    width: 15px;
}

.checkbox-fieldset label {
    color: var(--main-text);
    font-size: 1rem;
}

table {
    border: none;
    border-collapse: collapse;
    width: 100%;
}

table th {
    background-color: var(--table-color);
    font-weight: normal;
    height: 40px;
    text-align: center;
}

table tbody th {
    padding: 0 45px 0 8px;
}

.row1 th {
    border-radius: 5px 0 0 0;
}

.row2 th {
    border-radius: 0 0 0 5px;
}

table thead th:first-of-type {
    background-color: transparent;
    border: none;
}

table thead th:nth-of-type(2) {
    border-radius: 5px 0 0 0;
}

table thead th:last-of-type {
    border-radius: 0 5px 0 0;
}

table input {
    border: 1px solid var(--table-color);
    border-radius: unset;
    width: 100%;
}

fieldset:last-of-type {
    border-bottom: 1px solid var(--table-color);
}

button {
    background-color: var(--green-color);
    border: none;
    border-radius: 5px;
    color: var(--total-white);
    cursor: pointer;
    font-size: 1.2rem;
    height: 50px;
    margin: 30px;
    width: 130px;
}

.error-message {
    background-color: var(--dark-red);
    border-radius: 3px;
    color: var(--total-white);
    display: none;
    margin-top: 10px;
    padding: 2px;
    text-align: center;
    width: 180px;
}

.other {
    display: none;
}

.invalid {
    background-color: var(--light-red);
}

.invalid input {
    border: 1px solid var(--dark-red);
}